body{
    background-color: var(--fundo);
}

.principal{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;   
    margin: -1vh; 
}

.principal  > img{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 12px 9px 25px -3px rgba(0,0,0,0.21); 
box-shadow: 0px 10px 13px -7px #000000, 12px 9px 25px -3px rgba(0,0,0,0.21);
    
}

.world-pet{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: var(--fundo)
    
}

.world-pet-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: 10vh;
    align-items: center;
}

.world-pet-text > h1{
    font-size: 50px;
}

.world-pet-text > p{
    font-size: 20px;
}  

.world-pet-text-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 10vh;
}

.world-pet-text-buttons > button{
    background-color: rgb(0, 173, 9);
    color: white;
    border: 2px solid rgb(0, 85, 0);
    width: 100px;
    height: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 3px 4px 12px 3px rgba(0,0,0,0.33); 
box-shadow: 0px 10px 13px -7px #000000, 3px 4px 12px 3px rgba(0,0,0,0.33);
}



.world-pet-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

}

.world-pet-img > img{
    height: 80%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 3px 4px 12px 3px rgba(0,0,0,0.33); 
    box-shadow: 0px 10px 13px -7px #000000, 3px 4px 12px 3px rgba(0,0,0,0.33);
}

#more {display: none;}



/* Mudando a cor ao passar o mouse na imagem
 */
.img-fluid {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
.img-fluid:hover {opacity: 0.7;}


.scrollFade {
opacity: 1;
pointer-events: all;
}

.scrollFade--hidden {
opacity: 0;
pointer-events: none;
}

.scrollFade--visible {
opacity: 1;
pointer-events: all;
}

.scrollFade--animate {
transition: opacity 1.0s ease-in-out;
}

.tab{
 font-family: Arial, Helvetica, sans-serif;
}