.HomePageHomeContainer{
    display: flex;
    flex-direction: column;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--gray);
}

.timetable{
    background-color: var(--gray);
}

.carrousel{

    background-color: var(--gray);
}

.HomePageTitle{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 60px;
}